build_artifacts/
dist/
*.egg-info/
*.whl
ghc-bindist/bin/
ghc-bindist/lib/
ghc-bindist/share/
ghc-bindist/settings
ghc-bindist/package.conf.d
__pycache__/
*.pyc
*.pyo
.eggs/
venv/
test-env/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
HelloWorld
HelloWorld.exe
HelloWorld.hi
HelloWorld.o
